#mn{
    position: absolute;
    margin: auto;
    size: 1000dp;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    justify-content: center;
    background-color: rgba(202,237,247,0.993);
}
#imag{
    position: relative;
    top:12px;
    height: 85px;
}
#bx2{
    display: flex;
    background-color: whitesmoke;
    height: 9%;
    width: auto;
}
#dtr,#dtl{
    position: relative;
    display: inline-block;
    width:49%;
    height: auto;
}
#flexitem{
    position: relative;
    top:5px;
    width:75px;
    text-align: end;
}
#imp{
    border-radius: 50%;
    height: 28px;
    top:2px;
    margin-left: 15px;
    margin-right: 10px;
}
#so{
    position: relative;
    top: 10px;
    text-align: right;
    justify-content: space-evenly;
    right: 10px;
    width:30px;
}
#lul{
    cursor: pointer;
    color: rgb(100, 173, 64);
    font-family: sans-serif;
    margin-top: 20px;
    justify-content: center;
    margin-left: 30px;
}
#st{
    position: relative;
    top: 10px;
    display: flex;
    justify-content: end;
    margin-right: 15px;
}
#dtr{
    display: flex;
    top: 7px;
    justify-content: end;
}
a{
    color: black;
    text-decoration: none;

}